<form role="form" name="editFlight">

    <label>Flight Number</label>
    <input id="flightNumberInput" name="name" ng-model="flight.flightNumber" type="text"/>
    <br>

    <label>From</label>
    <input id="fromInput" name="from" ng-model="flight.from" type="text"/>
    <br>

    <label>To</label>
    <input id="toInput" name="to" ng-model="flight.to" type="text"/>
    <br>

    <a id="cancelButton" href="#/">Cancel</a>
    <button id="saveButton" ng-click="saveFlight(flight);">Save</button>
    <button id="deleteButton" ng-click="deleteFlight(flight);" ng-show="flight.id > 0;">Delete</button>

</form>
